.nav-container {
  padding: 10px;
  align-self: flex-start;
}
.navbar {
  padding: 15px;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  left: 0;
}
.navbar div {
  display: flex;
  align-items: center;
}
.navbar ul {
  list-style-type: none;
  gap: 12px;
  display: flex;
  align-items: center;
}
ul li {
  font-weight: 500;
}
.h-logo {
  width: 20%;
  height: 20%;
}
.login-btn {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-weight: 500;
}
@media (max-width: 850px) {
  .navbar {
    display: none;
  }
  .mobile-nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 20px;
  }
  .mobile-nav div {
    padding: 10px;
  }
  .off-canvas {
    display: flex;
    flex-direction: column;
  }
  #closeBtn {
    align-self: flex-end;
    padding: 10px;
    margin: 10px;
    gap: 10px;
  }
  .sidebar-logo {
    width: 100%;
  }
  .sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    font-weight: 700;
    font-size: 25px;
  }

  .sidebar div i {
    color: #a50740;
  }
  .cross-btn {
    background: none;
    border: none;
  }
  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .mail-icon {
    padding-right: 10px;
  }
  .sidebar-icon {
    color: blue;
  }
}
@media (min-width: 851px) {
  .mobile-nav,
  .sidebar {
    display: none;
  }
}
